// Código de Nav acá

nav {
  .flex();
  flex-direction: column;
  align-items: center;
  background-color: @nav-bg;
  color: @nav-font;
  border: 2px solid @nav-border;
  ul {
    width: 70%;
    justify-content: space-around;
    font-size: 1.3rem;
    @media @phone {
        width: 100%;
    }
    .flex(@padding:5px);
    a {
      color: @header-font-color;
      text-decoration: none;
      font-weight: bold;
    }
  }
}
